Cassa.Wpf/Service References/OperationService/OperationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cassa.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cassa.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WareLoadParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoadLimit" type="xs:int" />
      <xs:element minOccurs="0" name="WareName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WareLoadParams" nillable="true" type="tns:WareLoadParams" />
  <xs:complexType name="ArrayOfWareWcfDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WareWcfDto" nillable="true" type="tns:WareWcfDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWareWcfDto" nillable="true" type="tns:ArrayOfWareWcfDto" />
  <xs:complexType name="WareWcfDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="WareId" type="xs:int" />
      <xs:element minOccurs="0" name="WareName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WareWcfDto" nillable="true" type="tns:WareWcfDto" />
  <xs:complexType name="CheckWcfDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashboxId" type="xs:int" />
      <xs:element minOccurs="0" name="CheckId" type="xs:int" />
      <xs:element minOccurs="0" name="DateTM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DetailList" nillable="true" type="tns:ArrayOfCheckDetailWcfDto" />
      <xs:element minOccurs="0" name="Summ" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckWcfDto" nillable="true" type="tns:CheckWcfDto" />
  <xs:complexType name="ArrayOfCheckDetailWcfDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CheckDetailWcfDto" nillable="true" type="tns:CheckDetailWcfDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCheckDetailWcfDto" nillable="true" type="tns:ArrayOfCheckDetailWcfDto" />
  <xs:complexType name="CheckDetailWcfDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckDetailId" type="xs:int" />
      <xs:element minOccurs="0" name="CheckId" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Qty" type="xs:decimal" />
      <xs:element minOccurs="0" name="WareId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckDetailWcfDto" nillable="true" type="tns:CheckDetailWcfDto" />
</xs:schema>