Cassa.Wpf/Service References/OperationService/OperationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55726/OperationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cassa.Classes" />
  <xs:element name="GetWareList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cassa.Classes" minOccurs="0" name="param" nillable="true" type="q1:WareLoadParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWareListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cassa.Classes" minOccurs="0" name="GetWareListResult" nillable="true" type="q2:ArrayOfWareWcfDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cassa.Classes" minOccurs="0" name="Check" nillable="true" type="q3:CheckWcfDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseCheckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>